body{
    padding: 30px;
}

.phones {
    list-style: none;
}

.phones li{
    height: 100px;
    border:1px solid #ddd;
    background-color: white;
    margin-bottom: 20px;
    padding: 15px 5px 5px 5px;
    border-radius: 5px;
}

.phones li img{
    width: 80px;
    height: 80px;
    float: left;
}
.phones li div{
    word-wrap: break-word;
    margin-left: 100px;
}

.detail-container-top{
    height: 500px;
    padding: 10px;
}

.detail-container-top img{
    width: 480px;
    height: 480px;
    float: left;
}

.detail-info{
    margin-left: 550px;
}

.detail-imgs img{
    width: 100px;
    height: 100px;
}

.other-info{
    list-style: none;
    padding: 20px;
}

.other-info li{
    padding-right: 20px;
    width:200px;
    display: inline-block;
    vertical-align: top;
}