body{
    padding: 30px;
}

.phones {
    list-style: none;
}

.phones li{
    height: 100px;
    border:1px solid #ddd;
    background-color: white;
    margin-bottom: 20px;
    padding: 15px 5px 5px 5px;
    border-radius: 5px;
}

.phones li img{
    width: 80px;
    height: 80px;
    float: left;
}
.phones li div{
    word-wrap: break-word;
    margin-left: 100px;
}

